#ignore all kind of files
*.*
incremental_db
simulation
db
greybox_tmp

#except verilog and test files
!.gitignore
!*.v
!*.qpf
!*.md
!Vinith
!Yao
!*.txt
!*.png
!*.vwf
!*.csv
!*.sof
!*.qsf
!*.pin
!*.cdf
!*.mif
!*.py
!*.pdf
!Report_group
!*.tex
!*.log
!*.aux
!*.gz

# accept image files
!*.png
!*.jpg
